/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsl(205, 50%, 20%);
    --second-color: hsla(167, 73%, 62%, 1);

    font-size: 62.5%; /* 1rem = 10px */
}

/* =====HEADER===== */

.wrapper {
    display: grid;
    flex-wrap: wrap;
}

.container {
    margin: 0 auto;
}

section.menu {
    display: flex;
    justify-content: space-between;
}

.gradiente {
    background-color: var(--primary-color);
}

.menu {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;

    margin-top: 2rem;
    margin-left: 2rem;
}

/* div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 3rem;
} */

button {
    font-family: "DM Sans", "Outfit", sans-serif;
    font-size: 1rem;

    width: 15rem;

    background: var(--primary-color);
    color: white;

    border-radius: 1rem;
    border: none;
    cursor: pointer;

    height: 3rem;
    /* margin-left: 1rem; */
}

.blocoAside button {
    flex-wrap: wrap;
    height: 7rem;
    width: 15rem;
    font-size: 3rem;

    margin: 3rem;
}

.logo p {
    color: var(--second-color);
    font-family: "DM Sans", "Outfit", sans-serif;

    font-size: 1.8rem;

    text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.mainCarrinho {
    /* border: solid black 10px; */
    background-image: linear-gradient(to bottom, #05a8b1, #184055);

    height: 100vh;
    width: 100vw;
    display: flex;
}
.blocoPrincipal {
    /* border: solid purple 5px; */

    width: 75vw;
    display: flex;
    justify-content: center;
}

.produtoNoCarrinho1 {
    /* border: solid yellow 5px; */
    width: 80rem;
    height: 23rem;
    position: relative;
    top: 8rem;
    background-color: white;

    margin-left: 3rem;
    /* padding-left: 4rem; */
    display: flex;
    flex-direction: column;
}

.titulosCard {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: bold;

    margin-top: 0.5rem;

    /* position: relative; */
}

.aparelho1carrinho {
    height: 22rem;
    width: 23.5rem;
}

/* .valoresCard{
    display:flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.2rem;
    position: relative;
    border:1px solid black
    
} */

.descricaoProdutoCarrinho {
    font-size: 1.8rem;
    position: relative;
    top: 0.6rem;
    font-weight: 200;
    /* border: 1px solid red; */
}
.coluna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;

   

    top: 4rem;

    /* padding: 1.5rem; */
}
.coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    /* padding: 3rem; */
}
.coluna3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;

    top: 2rem;

    /* padding: 1.5rem; */
}
.coluna4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valoresCarrinho {
    font-weight: 200;

    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 7rem;
    font-size: 2rem;

    top:3rem;
}

p {
    margin-top: 2rem;
    font-size: 2.3rem;
}

.blocoAside {
    position: relative;
    /* border: solid darkorange 5px; */
    width: 25vw;
    display: flex;
    justify-content: center;

    margin-right: 3rem;
}

.cardPagamento {
    /* border: solid 3px red; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    width: 30rem;
    margin-top: 5rem;
    border-radius: 3rem;
    background-color: rgba(126, 154, 165, 0.8);

    font-family: Arial, Helvetica, sans-serif;

    margin: 3rem;
}

.resumoPedido {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    /* border:1px solid red; */
}

.pedidoValores {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 2rem;
}
.pedidoValores1 {
    display: flex;
    font-size: 1.7rem;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
}



.valorFinal {
    font-size: 2.5rem;
    text-align: end;
    margin-top: 3rem;
    text-align: center;
    /* border:1px solid blue; */
}

.parcelamento {
    font-size: 1.5rem;
    text-align: end;
    margin-top: 2rem;
    margin-right: 3rem;
    font-weight: 500;

    text-align: center;
    margin-left: 3rem;
    /* border:1px solid blue; */
}

button.finalizaPedido {
    background-color: #2ccbc4;
    width: 17rem;
    height: 3.5rem;
    font-size: 2rem;
    text-transform: uppercase;
}

#colunas {
    width: 25%;
    /* border:1px solid blue; */
    font-size: 3rem;
}

/* ==========MOBILE======== */
@media (max-width: 650px){

    .mainCarrinho{
        flex-direction: column;
        align-items: center;
    }
  
    div.cardPagamento{
    width: 400rem;
    margin-top: 13rem;
    }

    div.mainCarrinho {
       
        height: 100vh;
        width: 100vw;
        display: flex;
    }

 
}