@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:wght@400;700&family=Macondo&family=Outfit:wght@200;300;400&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
  --primary-color: hsla(205, 50%, 20%, 1);
  --second-color: hsla(167, 73%, 62%, 1);
  --third-color: hsl(183, 96%, 36%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
}

/* =====HEADER===== */

#carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
  flex-direction: column;
}

#carrinho h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--primary-color);
}

.produto1,
.produto2 {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.produtoValor p,
.produtoValor2 p {
    display: flex;
    align-self: flex-end;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 3rem;
    font-weight: bold;

}

.produtoValor,
.produtoValor2 {
   display: flex;
   justify-content: flex-start;
   align-items:flex-start;
   text-align: left; 
   flex-direction: column;
   padding: 2rem;

}

.produto1 h2,
.produto2 h2 {
  font-size: 2.6rem;
  text-transform: capitalize;
}

.produto1 h5,
.produto2 h5 {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.produto1 h6,
.produto2 h6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
} 


#carrinho img {
  width: 20rem;
}

.produto1 img,
.produto2 img {
    display: flex;
    justify-content: flex-start;
}

.produto1,
.produto2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}