* {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(205, 50%, 20%);
  --second-color: hsla(167, 73%, 62%, 1);
  --third-color: hsl(183, 96%, 36%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  /* background-image: linear-gradient(to bottom, #1a394e, #04a8b1);
    color: var(--second-color); */
  background-color: var(--third-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  width: 40%;
}

.container {
  width: 80%;
  height: 80%;
  background-color: white;
  /* border: solid red 3px; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  border-radius: 2rem;
}

.produto {
  width: 40%;
  height: 100%;
  /* border: solid blue 2px; */
  text-align: center;
}

.descricao {
  border-left: solid var(--primary-color) 3px;
  width: 60%;
  height: 80%;
  padding-left: 3rem;
  font-size: 2rem;
  
}


button {
  display: flex;
  margin: 0 auto;
  /* margin-top: 2rem; */
  width: 10rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: var(--third-color);
  color: white;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  
}

h4,
h6 {
  display: inline;
}
.descricao h3{
  text-align: center;
}


@media (max-width: 700px) {
  body{
    height: 100%;
  }
  .container {
    
    flex-direction: column;
    
    height: fit-content;
    
    /* height: 100%; */
  }

  .produto{
    width: 100%;
    
  }
  .descricao{
    margin-top: 2rem;
    width: 90%;
    border-left: none;
    border-top: solid var(--primary-color) 2px;
  }
}
