@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:wght@400;700&family=Macondo&family=Outfit:wght@200;300;400&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsl(205, 50%, 20%);
    --second-color: hsla(167, 73%, 62%, 1);
    --third-color: hsl(183, 96%, 36%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 102.4rem;
    margin: 0 auto;
}

/* <<<HEADER>>> */

header {
    background-color: var(--primary-color);
}

#header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo p {
    color: var(--second-color);
    font-size: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem;
    font-size: 1.5rem;
}

.menu a img {
    width: 2.5rem;
}

/* <<<CARROSSEL>>>  */

.galery {
  
    width: 100%;
    height: 70rem;
    /* background-color: black; */
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 20%;
}

@keyframes animacao {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
    100% {
        margin-left: -400%;
    }
}

  /* <<<PLANOS>> */

