*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsl(205, 50%, 20%);
    --second-color: hsla(167, 73%, 62%, 1);
    font-size: 62.5%; 
}
.li{
    color: var(--second-color);
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.li:hover{
    opacity: 0,7;
    color: var(--primary-color)
}
.logo{
    height: 10vh;
}
.navbar{
    width: 100%;
    max-width: 1280px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to bottom, hsl(205, 51%, 20%), white); 
    height: 12vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 2vh;
}
.mobile-menu{
    display:none;
    cursor: pointer;
}
.nav-list.active{
    transform: translateX(0);
}
brand p{
    margin-bottom: 10vh;
}
.brand{
    background: var(--primary-color);
    width: fit-content;
    color: #fff;
    font-size: 6vh;
    padding: 2px 5px; 
    font-size: 4vh;
}
brand h2{
    font-size: 7vh;
    color: rgb(184, 227, 233);
    margin-bottom: 4vh;
    width: 62vh;
}
.price{
    color: var(--primary-color);
    font-size: 6vh;
    font-weight: bold;
    padding-top: 2vh
}
button{
    color: #fff;
    font-size: 4vh;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: hsl(205, 31%, 27%);
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button .fa{
    margin-right: 10px;
}
.carrinho{
    height: 10vh;
    margin-top:1vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.celular{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content{
    margin-left: 10vh;
}
.teste{
    margin-top: 5vh;
    width: 30%;
}
@media (max-width:999px){
    .corpo {
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 9vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
@media (max-width: 422px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0
    }
}