/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
  --primary-color: hsl(205, 50%, 20%);
  --second-color: hsla(167, 73%, 62%, 1);
  --third-color: hsl(183, 96%, 36%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

main {

  background-image: linear-gradient(to bottom, #1a394e, #04a8b1);
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  color: var(--second-color);
  
  

}
.fazerLogin{
  /* border: solid red 5px; */
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  
  
}

.imagemAside{
  /* border: darkgreen 5px solid; */
  width: 50%;
  height: 100vh;
  background-image: url(../public/images/logo/fundo-site-atomo2baixa_copia_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

}
.titulos{
  display: flex;
  justify-content: space-around;
}

.h3{
  text-decoration: none;
}

h3, .h3{

  font-size: 3rem;
  text-align: center; 
  width: 30rem;
  margin: auto 5rem;
  
 
  
  padding-bottom: 1rem;
 
}
#loging{
  border-bottom: var(--second-color) solid 0.2rem;
}

h3:hover{
  border-bottom: var(--second-color) solid 0.2rem;
  transition: 100ms;
  cursor: pointer;

}

.h3:hover{
  border-bottom: var(--second-color) solid 0.2rem;
  transition: 100ms;
  cursor: pointer;

}





h2{
  color: white;
  font-size: 4rem;
  text-align: center;
  
  margin: 10rem;
}

 .login input{

   display: block;
   margin-top: 2rem;
   height: 4rem;
   width: 90%;   
   background-color: rgba(0, 0, 0, 0);
   border:transparent;
   border-bottom: var(--second-color) solid 0.2rem;   
   margin-left: 2rem;
   font-weight: 400;
   font-size: 2.5rem;
   
   
  }

.login label{

  display: inline-block;
  margin-top: 12rem;
  font-size: 3rem;
  margin-left: 2rem;
  

}

.login{
  display: flex;
  flex-direction: column;

  
}

.login input[type=submit]{
  background-color: var(--primary-color);
  border-radius: 2rem;
  border: none;
  color: var(--second-color);
  width: 40rem;
  font-size: 2.5rem;  
  color: white;
  cursor: pointer;
  margin: 15rem auto; 
  

}



a{
  float: right;
  color: var(--second-color);
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  
}

 .login  textarea:focus, .login input:focus{

  font-weight: 550;
  font-size: 2.5rem;
  outline: none;
  
}


/*  */

