@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:wght@400;700&family=Macondo&family=Outfit:wght@200;300;400&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
  --primary-color: hsla(205, 50%, 20%, 1);
  --second-color: hsla(167, 73%, 62%, 1);
  --third-color: hsl(183, 96%, 36%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(245, 242, 242);
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 
}

.containerPerfil {
  display: flex;
 
  
}
#minhaConta,
#perfil {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 55rem;
}

#perfil {
  width: 50rem;
}

#minhaConta {
  width: 25rem;
  margin-right: 4rem;
}

.imgLogin,
.imgPerfil {
  width: 10rem;
  padding: 0.1rem;
  border-radius: 50%;
  /* position: fixed;
  top: 28rem; */
}
.imgLogin {
  background-color: var(--second-color);
}
.imgPerfil {
  background-color: var(--third-color);
}

p {
  /* position: fixed;
  top: 39rem; */
  text-transform: capitalize;
  font-size: 1.4rem;
  counter-reset: var(--primary-color);
  font-weight: 600;
  margin-bottom: 2rem;
}

details summary {
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;

  align-items: center;
  margin: 1rem 0 1rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

summary:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--third-color);
}

ul li {
  list-style-type: none;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

a:hover {
  color: var(--third-color);
  text-decoration: underline;
}

button {
  display: flex;
  /* position: fixed; */
  /* bottom: 30rem; */
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;

  background-color: var(--third-color);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 2rem;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  color: var(--primary-color);
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

input {
  text-align: center;
  width: 30rem;
  box-shadow: 1px 1px 1px 0 #505050
}
