/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {

    --primary-color: hsla(205, 51%, 20%, 1);
    --second-color: hsla(167, 73%, 62%, 1);
    
    font-size: 62.5%; /* 1rem = 10px */
}

/* >>>GERAL<<< */
.container{
    width: 37.5rem;
    margin-inline: auto;
    /* para todos seguirem o mesmo padding da lateral */
    padding-inline: 2.4rem;

    
}


/* >>>HEADER<<< */

.gradiente {
   background-image: linear-gradient(to bottom, hsl(205, 51%, 20%), white) ;
   
 
      
}

.menu{
    display:flex;
    justify-content: space-between;
   
}

.navigation{
display: flex;
align-items: center;

}


.logo{

    display:flex;
    align-items: center;

    margin-top: 2rem;
}

.navigation{
    margin-top: 2rem;
}

.navigation button{
    cursor: pointer;
    border: none;
    background: none;
    
}

.menu .logo p{
    color: var(--second-color);
    font-family: 'DM Sans', 'Outfit', sans-serif;
    
    font-size: 1.8rem;

    text-transform: uppercase;
}

.menu .logo img{
    width:12rem;

}



.button button p {
   font-size: 1.6rem;
}

/* >>>MAIN<<< */


.banner img{
    
     display: flex;
     justify-content: center;
     max-width: 100%;
}



.plano{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1rem;

    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 2px  var(--primary-color);

    width: 15rem;
    
}
.botao p{
    margin-top: 1rem;
    color: white;
}
.botao{
    display: flex;
    justify-content: center;
    
    
    border: none;
    background: var(--primary-color);
    border-radius: 2rem;
    width: 8rem;
    
}

.plano img{
    width: 80%;
}

.plano h1{
    font-size: 2rem;
    color: var(--primary-color);
}
.plano p{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.plano a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
}

footer{
    display: flex;
    background-color: var(--primary-color);
    height: 20rem;

}

footer h1 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0;
}

footer p{
    color: white;
    margin-bottom: 2rem;
}

footer a {
    margin-right: 2rem;
}