/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
  --primary-color: hsl(205, 50%, 20%);
  --second-color: hsla(167, 73%, 62%, 1);

  font-size: 62.5%; /* 1rem = 10px */
}

/* >>>GERAL<<< */
.container {
  /* width: 37.5rem; */
  margin-inline: auto;
  /* para todos seguirem o mesmo padding da lateral */
  padding-inline: 2.4rem;
}

/* >>>HEADER<<< */

.gradiente {
  background-image: linear-gradient(to bottom, hsl(205, 51%, 20%), white);
}

.menu {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  margin-top: 2rem;
}

.navigation {
  margin-top: 2rem;
}

.navigation button {
  cursor: pointer;
  border: none;
  background: none;
}

.menu .logo p {
  color: var(--second-color);
  font-family: 'DM Sans', 'Outfit', sans-serif;

  font-size: 1.8rem;

  text-transform: uppercase;
}

.menu .logo img {
  width: 6rem;
}

button {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  margin-bottom: 2rem;

  width: 8rem;

  background: var(--primary-color);
  color: white;

  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.button button p {
  font-size: 1.6rem;
}

/* >>>MAIN<<< */

.banner img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  opacity: 15%;
  position: fixed;
  z-index: -1;
  margin-top: 50px;
}

.plano {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;

  /* border: 1px solid var(--primary-color); */
  /* box-shadow: 1px 1px 2px  var(--primary-color); */

  width: 15rem;
}

#planos h1 {
  display: flex;
  justify-content: center;

  font-size: 3rem;
  color: var(--primary-color);

  margin-top: 3rem;
  margin-bottom: -2rem;
}
.botao p {
  margin-top: 1rem;
  color: white;
}

.botao {
  display: flex;
  justify-content: center;

  border: none;
  background: var(--primary-color);
  border-radius: 2rem;
  width: 8rem;
}

.plano img {
  width: 80%;
}

.plano h1 {
  font-size: 2rem;
  color: var(--primary-color);
}
.plano p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.plano a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

footer {
  display: flex;
  background-color: var(--primary-color);
  height: 20rem;
}

footer h1 {
  color: white;
  font-size: 3rem;
  margin: 2rem 0;
}

footer p {
  color: white;
  margin-bottom: 2rem;
}

footer a {
  margin-right: 2rem;
}

/* >>>SLIDER<<< */

.slider {
  display: flex;
  position: relative;
  justify-content: center;

  /* height: 100%;
    width: 100%; */
  /* padding: 0 auto;
    margin: 0 auto; */
    margin-top: 2rem;
    margin-bottom: 30rem;
    
  }
  
  .slider li {
    position:absolute;
  
    list-style: none;
  }
  
  .slider img {
    margin: auto;
  
    height: 25rem;
    width: 100%; 
  
    vertical-align:top;
  }
  
  .slider input {
    display: none;
  }
  
  .slider label {
    display: flex;
    position: absolute;
  
    background-color: gray;
    cursor: pointer;
    
    bottom: 1rem;
    
    height: 1rem;
    width: 1rem;
    z-index: 10;
    opacity: 0.5;
      
   }
  
   .slider li:nth-child(1) label {
     left: 9rem;
    }
  
    .slider li:nth-child(2) label {
      left: 12rem;
     }
  
     .slider li:nth-child(3) label {
      left: 12.5rem;
     }
  
  
  .slider img {
    opacity: 0;
    visibility: hidden;
  }
  
  .slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    
  }
  

  /* >>>APARELHOS<<< */


.aparelhos{
    display: flex;
    flex-direction: column;
}

.aparelhos h1{
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
}

.aparelhos img{
    align-items: center;
  justify-content: center;
    height: 25rem;
    margin-left: 5rem;

    margin-left: 10rem;
    
}

  /* margin-top: 2rem;
  margin-bottom: 30rem;
} */




