<footer id="socialMedia">
  <a href="https://wa.me/5511987654321" target="_blank"
    ><img
      src="/images/icones/whatsapp.svg"
      alt="imagem de um icone do whatsapp"
  /></a>
  <a href="https://www.facebook.com/" target="_blank"
    ><img
      src="/images/icones/facebook 1.svg"
      alt="imagem de um icone do facebook"
  /></a>
  <a href="https://www.instagram.com/" target="_blank"
    ><img
      src="/images/icones/instagram 1.svg"
      alt="imagem de um icone do instagram"
  /></a>
  <a href="mailto:teste@gmail.com" target="_blank"
    ><img
      src="/images/icones/mail 1.svg"
      alt="imagem de um icone de uma carta para email"
  /></a>
</footer>