<div class="container">
    <header id="header">
        <div class="logo">
            <img
                src="/images/logo/atom-1341364_1920_est_2.svg"
                alt="Logo da empresa Átomo"
            />
            <p class="logo">
                Locadora de <br />
                Eletronicos
            </p>
        </div>

        <nav id="nav">
            <!-- aria para acessibilidade -->
            <button
                aria-label="Abrir Menu"
                id="btn-mobile"
                aria-haspopup="true"
                aria-controls="menu"
                aria-expanded="false"
            >
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="planos">Planos</a>
                </li>
                <li>
                    <a href="sobrenos">Sobre nós</a>
                </li>
                <li>
                    <a href="#">Login/Cadastro</a>
                </li>
                <li>
                    <a href="carrinho"
                        ><img
                            src="/images/icones/imagemCarrinho.png"
                            alt="icone com imagem de carrinho"
                    /></a>
                </li>
            </ul>
        </nav>
    </header>
</div>