<body onload="iconUser()">
    <header id="header">
        <a href="/">
            <div class="logo">
                <img
                    src="/images/logo/atom-1341364_1920_est_2.svg"
                    alt="Logo da empresa Átomo"
                />
                <p class="logo">
                    Locadora de <br />
                    Eletronicos
                </p>
            </div>
        </a>

        <nav id="nav">
            <!-- aria para acessibilidade -->
            <button
                aria-label="Abrir Menu"
                id="btn-mobile"
                aria-haspopup="true"
                aria-controls="menu"
                aria-expanded="false"
            >
                <span id="hamburger"></span>
            </button>

            <ul id="menu" role="menu">
                <li>
                    <a href="/" class="home">Home</a>
                </li>
                <li>
                    <a href="produtos" class="">Produtos</a>
                </li>
                <li>
                    <a href="sobrenos" class="about">Sobre nós</a>
                </li>
                <li>
                    <a href="loginCadastro" id="login-cadastro"
                        >Login/Cadastro</a
                    >
                </li>

                <li>
                    <details>
                        <summary>
                            <%usuarios.forEach(usuario =>{ %>
                            <img
                                id="iconLogin"
                                src="../uploads/uploads-usuarios/<%=usuario.image %>"
                                alt=""
                            />
                            <% }) %>
                        </summary>
                        <a href="" onclick="removeToken()">Sair</a>
                    </details>
                </li>
            </ul>
        </nav>
    </header>

    <script>
        function iconUser() {
            let token = localStorage.getItem("token");
            console.log(token);
            if (token) {
                document.getElementById("login-cadastro").style.visibility =
                    "hidden";
                document.getElementById("login-cadastro").style.position =
                    "absolute";

                document.getElementById("iconLogin").style.visibility =
                    "visible";
                document.getElementById("iconLogin").style.position = "static";
            }
        }

        const header = document.getElementById("header");
    </script>
</body>
