/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsla(205, 51%, 20%, 1);
    --second-color: hsla(167, 73%, 62%, 1);
    
    font-size: 62.5%; /* 1rem = 10px */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button button {
    display: inline-flex;
    margin: 0 0.3rem;
    margin-right: 1.5rem;

    color: var(--second-color);
    background-color: var(--primary-color);

    width: 10.4rem;
    height: 3.7rem;
    border-radius: 1.5rem;

    align-items: center;
    justify-content: center;
}

.button button p {
   font-size: 1.6rem;
}

.logo {
    margin: 2.5rem;
    padding-left: 5rem;
}

.planos {
    display: flex;
    gap: 3rem;
    line-height: 150%;
}

.article h1{
    margin-bottom: 2rem;
    color:var(--primary-color);
}

.article p{
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.article a {
    display: flex;

    align-items: center;
    justify-content: center;

    text-decoration: none;
    background-color:var(--primary-color);
    color: #fff;

    width: 9rem;
    height:3rem;
}

/* body {
    background: url("img/fundo.jpg") repeat-x;
    font-family: ArialRoundedMTBold;
    margin: 0px;
}

div#header {
    width: 1170px;
    height: 170px;
    margin: 0px auto;
}

div#header h1 {
    margin-top: 17px;
    display: block;
    float: left;
}

ul#nav {
    list-style: none;
    padding-left: 0px;
    display: block;
    float: left;
    margin-left: 266px;
    margin-top: 87px;
}

ul#nav li {
    float: left;
    margin-left: 9px;
}
ul#nav a {
    text-decoration: none;
    color: #55e5c5;
}
div#banner {
    width: 1168;
    height: 612;
    margin-left: 375px;
    margin-right: 375px;
}
div#banner a {
    top: 232px;
    left: 928px;
}
div#banner a img {
    border: none;
}
div#section {
    width: 1170px;
    margin: 0 auto;
} */
