<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include("./partials/header.ejs") %>

        <div class="container">
            <div class="slug">
                <h1 class="nomeProduto">
                    iPhone 13 256GB Azul, 5G, Tela de 6.1, Câmera Dupla 12MP
                </h1>
            </div>
            <div id="produto">
                <div class="imagem">
                    <img
                        class="imgGrande"
                        src="./public/images/aparelhos/Iphone 13 pro Max 128 azul.png"
                        alt="Iphone 13 pro max 128gb azul"
                    />
                    <div class="card">
                        <img
                            class="cardImg"
                            src="./public/images/aparelhos/Iphone 13 pro Max 128 azul.png"
                            alt="Iphone 13 pro max 128gb azul"
                        />
                        <img
                            class="cardImg"
                            src="./public/images/aparelhos/Iphone 13 pro Max 128 azul.png"
                            alt="Iphone 13 pro max 128gb azul"
                        />
                        <img
                            class="cardImg"
                            src="./public/images/aparelhos/Iphone 13 pro Max 128 azul.png"
                            alt="Iphone 13 pro max 128gb azul"
                        />
                    </div>
                </div>

                <div id="detalhesProdutos">
                    <h3 class="plano">Plano alfa</h3>
                    <h4 class="detalhesNome">
                        iPhone 13 256GB Azul, 5G, Tela de 6.1, Câmera Dupla 12MP
                    </h4>
                    <p class="preco">R$299.99</p>
                    <div class="botaoComprar">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="descricaoProduto">
                <h2>descrição do produto</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus, quaerat accusamus. Et, libero aliquam
                    necessitatibus voluptas reiciendis ea rerum non odit,
                    excepturi ipsum expedita ratione delectus quae at, aut eum
                    in voluptatem modi consectetur sunt enim? Eveniet, quidem
                    sit. Quasi praesentium pariatur odio obcaecati sapiente,
                    fuga cumque est molestiae, doloribus impedit unde iusto
                    ratione laudantium asperiores, soluta voluptatibus labore.
                    Assumenda aspernatur dolorem necessitatibus consectetur
                    quidem unde in? Assumenda perferendis, itaque ex, est
                    expedita, fugiat beatae fugit numquam recusandae voluptate
                    neque eveniet ut reiciendis perspiciatis animi eligendi
                    quibusdam ipsum earum officiis? Libero, autem praesentium
                    maxime voluptatum, ex sapiente doloribus unde fugit commodi
                    mollitia ipsam neque earum cumque voluptates quae recusandae
                    ipsum? Consectetur culpa quibusdam voluptatibus, quae
                    dolores soluta? Rerum inventore asperiores amet ipsam harum
                    fuga?
                </p>
            </div>

            <div class="produtosRelacionados">
                <h2>Produtos Relacionados</h2>
                <div class="relacionadosImg">
                    <div class="relacionadosCard">
                        <img
                            src="./public/images/aparelhos/Iphone 12 Pro Max apple preto .png"
                            alt="Iphone Pro max 12 preto"
                        />
                        <p>Iphone 12 Pro Max.</p>
                    </div>

                    <div class="relacionadosCard">
                        <img
                            src="./public/images/aparelhos/Samsung Galaxy S22 ultra 256GB prato 12GB RAM cam 40MP.png"
                            alt="Sansung galaxy s22 ultra 256gb"
                        />
                        <p>Sansung galaxy s22 ultra 256gb Prata</p>
                    </div>

                    <div class="relacionadosCard">
                        <img
                            src="./public/images/aparelhos/Ipad pro11 apple M1 256GB cinza.png"
                            alt="Ipad pro 11 "
                        />
                        <p>Ipad pro 11 256gb Cinza</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
