<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

        <main>
            <div class="container">
                <section class="galery">
                    <div class="fotos">
                        <img src="/images/carrosel/carrosel1.jpeg" alt="" />
                        <img src="/images/carrosel/carrosel2.jpeg" alt="" />
                        <img src="/images/carrosel/carrosel3.jpeg" alt="" />
                        <img src="/images/carrosel/carrosel4.jpeg" alt="" />
                        <!-- <img src="img/carrosel/carrosel1.jpeg" alt="" /> -->
                    </div>
                </section>
                <div class="sub-title">
                    <h2>veja os aparelhos disponíveis</h2>
                    <p>assinatura mensal . não compromete o seu limite!</p>
                </div>
                <section id="planos">
                    <div class="alfa">
                        <h2>Celulares</h2>
                        <img
                            src="/images/aparelhos/relogio Apple watch 7 45mm ALuminio GPS Pulseira Esportiva.png"
                            alt=""
                        />
                        <p>
                            Equipamentos de primeira linha voltados para pessoas
                            que atuam em home office e procuram comodidade e
                            inovação.
                        </p>
                        <a href="produtos/#celular">saiba mais</a>
                    </div>
                    <div class="beta">
                        <h2>Computadores</h2>
                        <img
                            src="/images/aparelhos/Ipad pro11 apple M1 256GB cinza.png"
                            alt=""
                        />
                        <p>
                            Equipamentos de primeira linha voltados para
                            viajantes, trilheiros, blogueiros e youtubers e
                            todos aqueles que desejam ter os melhores registros
                            em alta definição.
                        </p>
                        <a href="produtos/#computador">saiba mais</a>
                    </div>
                    <div class="omega">
                        <h2>Câmeras</h2>
                        <img
                            src="/images/aparelhos/Iphone 13 pro Max 128 azul.png"
                            alt=""
                        />
                        <p>
                            Equipamentos de última geração para aqueles que
                            desejam ter os modelos de locação que mais se adapte
                            a sua rotina.
                        </p>
                        <a href="produtos/#camera">saiba mais</a>
                    </div>
                </section>

                <footer id="socialMedia">
                    <a href="https://wa.me/5511987654321" target="_blank"
                        ><img
                            src="/images/icones/whatsapp.svg"
                            alt="imagem de um icone do whatsapp"
                    /></a>
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/images/icones/facebook 1.svg"
                            alt="imagem de um icone do facebook"
                    /></a>
                    <a href="https://www.instagram.com/" target="_blank"
                        ><img
                            src="/images/icones/instagram 1.svg"
                            alt="imagem de um icone do instagram"
                    /></a>
                    <a href="mailto:teste@gmail.com" target="_blank"
                        ><img
                            src="/images/icones/mail 1.svg"
                            alt="imagem de um icone de uma carta para email"
                    /></a>
                </footer>
            </div>
        </main>

        <%- include("./partials/script.ejs") %>
    </body>
</html>
