<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body onload="setToken()">
        <!-- usuarios.forEach(usuario => {
        <h1> usuario.nome </h1>
        })  -->

        <script>
            let x = token;
            function setToken(x) {
                localStorage.setItem("token", "asiyfygqwyUGDQYUWYQ");
            }
        </script>

        <%- include("./partials/footer.ejs") %> <%-
        include('./partials/script.ejs') %>
    </body>
</html>
