<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../stylesheets/index.css" />
        <title>Document</title>
    </head>

    <body onload="setToken()">
        <div class="containerLogado">
            <%usuarios.forEach(usuario =>{ %>
            <h1>
                Parabéns
                <span id="spanUsuario"><%=usuario.nome %></span> você esta
                logado.
            </h1>
            <img src="/uploads/uploads-usuarios/<%=usuario.image %>" alt="" />
            <% }) %>
            <a href="/"
                ><button class="btnLogado" onclick="">Pagina Inicial</button></a
            >
        </div>

        <script>
            
            let x = token;
            function setToken(x) {
                localStorage.setItem("token", "asiyfygqwyUGDQYUWYQ");
            }
            document.location.reload(true);
        </script>

        <%- include("./partials/footer.ejs") %> <%-
        include('./partials/script.ejs') %>
    </body>
</html>
