<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
      <div class="titulo">
        <h2>produtos</h2>
        <p>veja os aparelhos disponiveis para cada planos</p>
      </div>

      <div class="planos">
        <h1>plano alfa</h1>
        <p>
          Equipamentos de primeira linha voltados para pessoas que atuam em home
          office e procuram comodidade e inovação.
        </p>
      </div>
      <div class="wrapper">
      <div class="produtos">
        <img
          src="../images/aparelhos/Iphone 12 Pro Max apple preto .png"
          alt=""
        />
        <h3>iphone 12 pro max</h3>
        <h5>R$ 249,00</h5>
        <p>/mês</p>

        <button>alugar</button>
      </div>
      <div class="produtos">
        <img
          src="/images/aparelhos/Iphone 13 pro Max 128 azul.png"
        />
        <h3>iphone 12 pro max</h3>
        <h5>R$ 249,00</h5>
        <p>/mês</p>

        <button>alugar</button>
      </div>
      <div class="produtos">
        <img
          src="/images/aparelhos/Tablet Samsung Galaxy S7 com caneta 11'' 4G 256GB android octa cam dupla.png"
          alt=""
        />
        <h3>iphone 12 pro max</h3>
        <h5>R$ 249,00</h5>
        <p>/mês</p>

        <button>alugar</button>
      </div>
      <div class="produtos">
        <img
          src="/images/aparelhos/Ipad pro11 apple M1 256GB cinza.png"
          alt=""
        />
        <h3>iphone 12 pro max</h3>
        <h5>R$ 249,00</h5>
        <p>/mês</p>

        <button>alugar</button>
      </div>
    </div>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
