@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:wght@400;700&family=Macondo&family=Outfit:wght@200;300;400&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsla(205, 50%, 20%, 1);
    --second-color: hsla(167, 73%, 62%, 1);
    --third-color: hsl(183, 96%, 36%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(245, 242, 242);
}

.container {
    max-width: 102.4rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* <<<<<<<<<<<< PRODUTOS  >>>>>>>>>>>> */
.nomeProduto {
    display: block;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 1.5rem;
}

#produto {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2rem;
    flex-wrap: wrap;
}

.imagem {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
}

.imgGrande {
    width: 10rem;
    height: 10rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 2rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.cardImg {
    width: 7rem;
    margin: 1rem;

    padding: 0.2rem;
    background-color: white;
    border-radius: 1rem;
}

/* <<<<<<<<<<<< DETALHES PRODUTOS  >>>>>>>>>>>> */

#detalhesProdutos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.plano {
    font-size: 5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.detalhesNome {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.preco {
    font-size: 3rem;
    color: var(--third-color);
    margin-bottom: 2rem;
}

.botaoComprar button {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6rem;

    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.botaoComprar button:hover {
    background-color: hsl(183, 96%, 29%);
    opacity: 0.9;
}
/* <<<<<<<<<<<<  DESCRIÇÃO PRODUTO  >>>>>>>>>>>> */

.descricaoProduto summary {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    cursor: pointer;
}

.descricaoProduto summary:hover {
    text-decoration: underline;
    font-weight: 600;
}
.descricaoProduto p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

/* <<<<<<<<<<<< PRODUTOS RELACIONADOS  >>>>>>>>>>>> */

.produtosRelacionados {
    background-color: white;
    border-radius: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.produtosRelacionados h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 2rem;
}

.relacionadosCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10rem;
    margin-bottom: 3rem;
}
.relacionadosImg {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
}

.relacionadosCard img {
    margin-left: 0.5rem;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1rem;
    width: 10rem;
    height: 12rem;
    margin-bottom: 1rem;
}
