@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:wght@400;700&family=Macondo&family=Outfit:wght@200;300;400&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsla(205, 50%, 20%, 1);
    --second-color: hsla(167, 73%, 62%, 1);
    --third-color: hsl(183, 96%, 36%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 102.4rem;
    margin: 0 auto;
}

#header {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    height: 10rem;
    padding: 1rem;
    justify-content: space-around;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#menu {
    display: flex;
    list-style: none;
    /* gap: 0.5rem; */
    margin-left: 1rem;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.6rem;
}

a:hover {
    text-decoration: underline;
}

#btn-mobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

a img {
    width: 8rem;
}

li a img {
    width: 2.5rem;
}

.logo p {
    color: var(--second-color);
    font-size: 1.7rem;
}

/* Botao hamburger */
#btn-mobile {
    display: none;
}

/* <<<CARROSSEL>>>  */

.galery {
    width: 100%;
    height: 70%;
    /* background-color: black; */
    overflow: hidden;
}

.galery .fotos {
    width: 499%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-top: 1rem;
}

.galery .fotos img {
    width: 20%;
}

@keyframes animacao {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
    100% {
        margin-left: -400%;
    }
}

/* <<<PLANOS>> */

#planos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--third-color);

    height: 50%;
}

.sub-title {
    display: flex;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.sub-title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.sub-title p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#planos img {
    width: 10rem;
    /* margin-bottom: 2rem; */
}

.alfa,
.beta,
.omega {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: white;

    width: 25rem;
    height: 40rem;
    margin-left: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#planos h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

#planos p {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#planos a {
    color: var(--primary-color);

    font-size: 1.5rem;
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    margin-bottom: 2rem;
    text-align: center;
}

#planos a:hover {
    text-decoration: underline;
}

footer {
    display: flex;

    justify-content: center;
    background-color: var(--primary-color);
    height: 10rem;
    margin-top: 1rem;

    width: 99vw;
}

#socialMedia a {
    display: inline-flex;

    align-items: center;
    text-align: center;

    margin-left: 1rem;
}

#socialMedia a img {
    width: 3rem;
}

/* ========MOBILE========= */

@media (max-width: 710px) {
    /* ==========hamburger======= */
    #menu {
        display: block;

        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        height: 0rem;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 7rem);
        margin-top: 3rem;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid var(--second-color);
    }

    #btn-mobile {
        display: flex;
        padding: 05rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 05rem;
    }

    #hamburger {
        border-top: 1px solid var(--second-color);
        width: 2rem;
        display: block;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 2rem;
        height: 0.2rem;
        background: var(--second-color);
        margin-top: 0.5rem;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #header {
        display: flex;
        justify-content: space-between;
    }
}

#login-cadastro {
    /* position: absolute;
    visibility: hidden; */
}

#iconLogin {
    align-items: center;
    width: 5rem;
    visibility: hidden;
    position: absolute;
}

summary {
    list-style: none;
}

/* LOGADO */

.containerLogado {
    background: #fff;
    min-height: 50vh;
    max-width: 420px;
    padding: 2rem;
    border-radius: 0.35rem;
    box-shadow: 1px 3px 10px var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem auto;
}

.containerLogado h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.btnLogado {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    width: 18rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6rem;

    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.containerLogado img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}

/* IMG LOGADO */

#iconLogin {
    border-radius: 50%;
}

.containerLogado span {
    color: var(--third-color);
}
