/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
    background-color: red;
} */

#imagemProduto {
  width: 10rem;
  height: 10rem;
}

#tabela {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.renderizarProdutos {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 500px;
}
