/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <<<VARIAVEIS>>> */
:root {
    --primary-color: hsla(205, 50%, 20%, 1);
    --second-color: hsla(167, 73%, 62%, 1);
    --third-color: hsl(183, 96%, 36%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 102.4rem;
    margin: 0 auto;
}

#imagemProdutoRender {
    width: 30rem;
    height: 30rem;
    margin: 0;
}

#tabela {
    display: flex;
    width: 50rem;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 1px 2px 5px var(--primary-color);
    margin: 3rem auto;
    border-radius: 1.5rem;
    flex-wrap: wrap;
}

.renderizarProdutos {
    width: 20rem;
    height: 5rem;
    display: flex;
    text-align: center;
    align-items: stretch;

    justify-content: space-between;
    flex-direction: column;
    margin: 2rem 25rem;
}

.renderizarProdutos p {
    font-size: 1.5rem;
    margin: 0.5rem;
}

#botaoDeletar {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6rem;

    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
#botaoVoltarRender {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    width: 25rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6rem;

    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    margin-bottom: 5rem;
}
